[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[user]
  name = fraasi
  email = fraasi.gh@gmail.com
[credential]
  helper = /c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[alias]
  aa = add --all
  aliases = config --get-regexp alias
  b = branch
  bv = branch -v
  c = commit
  ca = commit --amend
  cm = commit -m
  cg = config --global
  co = checkout
  d = diff
  dc = diff --cached
  ds = diff --staged
  dstat= diff --stat
  dwd = diff --word-diff=color --word-diff-regex=.
  files-changed = show --pretty="" --name-status
  ignored = status --ignored -s
  lc = "!git log --color --graph --pretty=format:'%C(yellow)%h%C(reset)§%C(yellow)%d%C(reset)§%s§%C(blue)<%an>%C(reset)§%C(green)(%cr)' --abbrev-commit | column -s'§' -o' ' -t | less -FXRS"
  ll = log --color --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lll = log --graph --format=\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\" # for fzf_git_log function in .bashrc
  ls = log --oneline --stat --graph
  po = push origin
  rm = remote -v
  s = status -sb
  st = status
  staged-files = diff --name-only --cached
[grep]
  lineNumber = true
[color]
  ui = auto
[core]
  autocrlf = false
  excludesfile = ~/.gitignore
[diff]
  tool = vimdiff
  wsErrorHighlight = all
  submodule = log
[branch]
  sort = -committerdate
[commit]
  verbose = true # adds the whole commit diff in the text editor where you’re writing your commit message
[status]
  submoduleSummary = true
[init]
  defaultBranch = main
