[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Fraasi
	email = fraasi.gh@gmail.com
[credential]
	helper = wincred
[alias]
	s = status -sb
	b = branch
  d = diff --stat master origin/master # git fetch first
	co = checkout
	aa = add --all
	c = commit
	cm = commit -m
	acm = "!git add -A && git commit -m"
	wc = whatchanged
	ca = commit --amend
	po = push origin
	ls = log --oneline --stat --graph
  cg = config --global
	ignored = status --ignored -s
	alias = "!git config --get-regexp ^alias"
[grep]
	lineNumber = true
[color]
	ui = auto
[core]
	autocrlf = false
